In [71]:
from sqlalchemy import create_engine, text, Table, Column, Integer, String, Date, MetaData
from sqlalchemy.dialects.mysql import VARCHAR, DATE
from sqlalchemy.orm import sessionmaker
import datetime
import os
from dotenv import load_dotenv
load_dotenv()

USERNAME = os.getenv("USERNAME")
PASSWORD = os.getenv("PASSWORD")
HOST = os.getenv("HOST")
DBNAME = os.getenv("DBNAME")

In [72]:
# 2. Create engine and session
engine = create_engine(f"mysql+pymysql://{USERNAME}:{PASSWORD}@{HOST}/{DBNAME}", echo=True)
Session = sessionmaker(bind=engine)
session = Session()
metadata = MetaData()

In [73]:
import pandas as pd

# 4. Read the CSV file
df = pd.read_csv("SYD.csv")
# Optional: Inspect the first few rows

df.head()

,id_course,college,id_student,name,USI,DoB,age,mobile,email,postal_code,address,citizenship,passport,passport_expiry,agency,course_name,coe_start,coe_end,password
0,ADIT,SYD,13911989,Stanley Kerr DE GUZMAN,43BYB3CPP6,17 September 2003,21,0450 903 598,stanleykerrdeguzman04@gmail.com,71 Kihilla Road,71 Kihilla Road,Philippines,P1902673C,04/10/2032,Carren YABUT (CPY Global Services Pty Ltd),NaN,NaN,NaN,NaN
1,ADIT,SYD,13930611,Mark Gabriel Castanares FABIA,T38JTH9M67,11 February 1999,26,0433 517 977,gfabia88@gmail.com,7,7,Philippines,P0422078C,06/06/2032,Carren YABUT (CPY Global Services Pty Ltd),NaN,NaN,NaN,NaN
2,ADIT,SYD,13933853,Nimish Nihaal PRASAD,NR2QCRJ39H,13 August 2002,22,0408574980,nimishnprasad@gmail.com,4 Drake Place,4 Drake Place,Fiji,P00142049,12/04/2033,Nitish Kumar GUPTA (Vibrant Education & Migrat...,NaN,NaN,NaN,NaN
3,ADIT,SYD,13987156,Telmen BAYARBAATAR,ZBPTCGZ7TV,07 February 2003,22,0402 306 247,telmenbayrbaatar39@gmail.com,312,312,Mongolia,E2924700,25/10/2031,Kevin WHITE (First One Education Migration Pty...,NaN,NaN,NaN,NaN
4,ADIT,SYD,14272345,Jake Raymund Layson ARINGAY,X86BZZAHMC,27 January 1992,33,0421975828,jakeraymund.aringay@gmail.com,66 CAMPBELLFIELD AVENUE,66 CAMPBELLFIELD AVENUE,Philippines,P5847185A,30/01/2028,Edmund GALVEZ (Ausryan Migration and Visa Prof...,NaN,NaN,NaN,NaN

In [ ]:
# Convert 'DoB' and 'passport_expiry' columns to MySQL datetime format (YYYY-MM-DD)
df['DoB'] = pd.to_datetime(df['DoB'], errors='coerce').dt.strftime('%Y-%m-%d')
df['passport_expiry'] = pd.to_datetime(df['passport_expiry'], errors='coerce').dt.strftime('%Y-%m-%d') errors='coerce').dt.strftime('%Y-%m-%d')
df.head()

,id_course,college,id_student,name,USI,DoB,age,mobile,email,postal_code,address,citizenship,passport,passport_expiry,agency,course_name,coe_start,coe_end,password
0,ADIT,SYD,13911989,Stanley Kerr DE GUZMAN,43BYB3CPP6,17-09-2003,21,0450 903 598,stanleykerrdeguzman04@gmail.com,71 Kihilla Road,71 Kihilla Road,Philippines,P1902673C,10-04-2032,Carren YABUT (CPY Global Services Pty Ltd),NaN,NaN,NaN,NaN
1,ADIT,SYD,13930611,Mark Gabriel Castanares FABIA,T38JTH9M67,11-02-1999,26,0433 517 977,gfabia88@gmail.com,7,7,Philippines,P0422078C,06-06-2032,Carren YABUT (CPY Global Services Pty Ltd),NaN,NaN,NaN,NaN
2,ADIT,SYD,13933853,Nimish Nihaal PRASAD,NR2QCRJ39H,13-08-2002,22,0408574980,nimishnprasad@gmail.com,4 Drake Place,4 Drake Place,Fiji,P00142049,04-12-2033,Nitish Kumar GUPTA (Vibrant Education & Migrat...,NaN,NaN,NaN,NaN
3,ADIT,SYD,13987156,Telmen BAYARBAATAR,ZBPTCGZ7TV,07-02-2003,22,0402 306 247,telmenbayrbaatar39@gmail.com,312,312,Mongolia,E2924700,NaN,Kevin WHITE (First One Education Migration Pty...,NaN,NaN,NaN,NaN
4,ADIT,SYD,14272345,Jake Raymund Layson ARINGAY,X86BZZAHMC,27-01-1992,33,0421975828,jakeraymund.aringay@gmail.com,66 CAMPBELLFIELD AVENUE,66 CAMPBELLFIELD AVENUE,Philippines,P5847185A,NaN,Edmund GALVEZ (Ausryan Migration and Visa Prof...,NaN,NaN,NaN,NaN

In [75]:
df.to_clipboard()

In [76]:
try:
    # Attempt to connect and execute a simple query
    with engine.connect() as connection:
        result = connection.execute(text("SELECT 1"))
        print("Database connection successful:", result.scalar() == 1)
except Exception as e:
    print("Database connection failed:", e)

2025-05-22 19:23:18,451 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-05-22 19:23:18,452 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-22 19:23:18,454 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-05-22 19:23:18,454 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-22 19:23:18,456 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-05-22 19:23:18,457 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-22 19:23:18,459 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-22 19:23:18,460 INFO sqlalchemy.engine.Engine SELECT 1
2025-05-22 19:23:18,460 INFO sqlalchemy.engine.Engine [generated in 0.00092s] {}
Database connection successful: True
2025-05-22 19:23:18,462 INFO sqlalchemy.engine.Engine ROLLBACK

In [77]:
# Insert data into tb_student
df.to_sql('tb_student', con=engine, if_exists='append', index=False)
print("Data inserted into tb_student table successfully.")

with engine.connect() as conn:
    # Fetch and print the first 5 rows from tb_student
    result = conn.execute(text("SELECT * FROM tb_student LIMIT 5"))
    for row in result:
        print(row)

2025-05-22 19:23:18,469 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-22 19:23:18,473 INFO sqlalchemy.engine.Engine DESCRIBE `ccmt`.`tb_student`
2025-05-22 19:23:18,474 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-05-22 19:23:18,487 INFO sqlalchemy.engine.Engine INSERT INTO tb_student (id_course, college, id_student, name, `USI`, `DoB`, age, mobile, email, postal_code, address, citizenship, passport, passport_expiry, agency, course_name, coe_start, coe_end, password) VALUES (%(id_course)s, %(college)s, %(id_student)s, %(name)s, %(USI)s, %(DoB)s, %(age)s, %(mobile)s, %(email)s, %(postal_code)s, %(address)s, %(citizenship)s, %(passport)s, %(passport_expiry)s, %(agency)s, %(course_name)s, %(coe_start)s, %(coe_end)s, %(password)s)
2025-05-22 19:23:18,488 INFO sqlalchemy.engine.Engine [generated in 0.00411s] [{'id_course': 'ADIT', 'college': 'SYD', 'id_student': 13911989, 'name': 'Stanley Kerr DE GUZMAN', 'USI': '43BYB3CPP6', 'DoB': '17-09-2003', 'age': 21, 'mobile': '0450 903 598', 'email': 'stanleykerrdeguzman04@gmail.com   ', 'postal_code': '71 Kihilla Road', 'address': '71 Kihilla Road', 'citizenship': 'Philippines', 'passport': 'P1902673C ', 'passport_expiry': '10-04-2032', 'agency': 'Carren YABUT (CPY Global Services Pty Ltd)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'ADIT', 'college': 'SYD', 'id_student': 13930611, 'name': 'Mark Gabriel Castanares FABIA', 'USI': 'T38JTH9M67', 'DoB': '11-02-1999', 'age': 26, 'mobile': '0433 517 977', 'email': 'gfabia88@gmail.com   ', 'postal_code': '7', 'address': '7', 'citizenship': 'Philippines', 'passport': 'P0422078C ', 'passport_expiry': '06-06-2032', 'agency': 'Carren YABUT (CPY Global Services Pty Ltd)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'ADIT', 'college': 'SYD', 'id_student': 13933853, 'name': 'Nimish Nihaal PRASAD', 'USI': 'NR2QCRJ39H', 'DoB': '13-08-2002', 'age': 22, 'mobile': '0408574980', 'email': 'nimishnprasad@gmail.com   ', 'postal_code': '4 Drake Place', 'address': '4 Drake Place', 'citizenship': 'Fiji', 'passport': 'P00142049 ', 'passport_expiry': '04-12-2033', 'agency': 'Nitish Kumar GUPTA (Vibrant Education & Migration Services (Sydney))', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'ADIT', 'college': 'SYD', 'id_student': 13987156, 'name': 'Telmen BAYARBAATAR', 'USI': 'ZBPTCGZ7TV', 'DoB': '07-02-2003', 'age': 22, 'mobile': '0402 306 247', 'email': 'telmenbayrbaatar39@gmail.com   ', 'postal_code': '312', 'address': '312', 'citizenship': 'Mongolia', 'passport': 'E2924700 ', 'passport_expiry': None, 'agency': 'Kevin WHITE (First One Education Migration Pty Ltd)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'ADIT', 'college': 'SYD', 'id_student': 14272345, 'name': 'Jake Raymund Layson ARINGAY', 'USI': 'X86BZZAHMC', 'DoB': '27-01-1992', 'age': 33, 'mobile': '0421975828', 'email': 'jakeraymund.aringay@gmail.com   ', 'postal_code': '66 CAMPBELLFIELD AVENUE', 'address': '66 CAMPBELLFIELD AVENUE', 'citizenship': 'Philippines', 'passport': 'P5847185A ', 'passport_expiry': None, 'agency': 'Edmund GALVEZ (Ausryan Migration and Visa Professional Solution (AMVPS AUSTRALIA))', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'ADIT', 'college': 'SYD', 'id_student': 14056614, 'name': 'Ayush Anushil CHAND', 'USI': 'GLHWXLETGY', 'DoB': '20-10-2003', 'age': 21, 'mobile': '0452316003', 'email': 'ayushchandac2121@gmail.com   ', 'postal_code': '20 Peel Street', 'address': '20 Peel Street', 'citizenship': 'Fiji', 'passport': 'P00097670 ', 'passport_expiry': None, 'agency': 'Bhumeshor SUBEDI (KTM Consulting Group Pty Ltd)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'ADIT', 'college': 'SYD', 'id_student': 14091967, 'name': 'Shivdhan Sagar CHAND', 'USI': 'TU23TL5HKP', 'DoB': '01-08-2005', 'age': 19, 'mobile': '0423008250', 'email': 'shivdhanchand@gmail.com   ', 'postal_code': '7 Nagle Street', 'address': '7 Nagle Street', 'citizenship': 'Fiji', 'passport': 'P00176057 ', 'passport_expiry': None, 'agency': 'Bhumeshor SUBEDI (KTM Consulting Group Pty Ltd)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'ADIT', 'college': 'SYD', 'id_student': 14097822, 'name': 'Krishan Kaushik DEO', 'USI': 'UC6PUQRYQZ', 'DoB': '31-05-2005', 'age': 19, 'mobile': '0449015006', 'email': 'kkdeo2005@gmail.com   ', 'postal_code': '6 geoge st', 'address': '6 geoge st', 'citizenship': 'Fiji', 'passport': '1059829 ', 'passport_expiry': None, 'agency': 'Bhumeshor SUBEDI (KTM Consulting Group Pty Ltd)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}  ... displaying 10 of 327 total bound parameter sets ...  {'id_course': 'DIP_LH', 'college': 'SYD', 'id_student': 14089779, 'name': 'Pritha NATHAN', 'USI': 'DPCHV4DDFY', 'DoB': '06-01-2000', 'age': 25, 'mobile': '0447474458', 'email': 'prithanathanally@gmail.com   ', 'postal_code': '4', 'address': '4', 'citizenship': 'Malaysia', 'passport': None, 'passport_expiry': None, 'agency': 'Sheshni PAL (Zenith Global Visa Services)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'DIP_LH', 'college': 'SYD', 'id_student': 14112802, 'name': 'Furui Xu', 'USI': 'X8QU6ZAVCL', 'DoB': '06-06-1999', 'age': 25, 'mobile': '0452462863', 'email': '2635027126@qq.com   ', 'postal_code': '63 VANGHAN ST', 'address': '63 VANGHAN ST', 'citizenship': 'China (excludes SARs and Taiwan)', 'passport': 'EA1436716 ', 'passport_expiry': None, 'agency': 'Cindy LIU (AOHUA International Group Pty Ltd T/A AOHUA International Group Migration and Education Centre)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}]
2025-05-22 19:23:18,505 INFO sqlalchemy.engine.Engine COMMIT

OperationalError: (pymysql.err.OperationalError) (1292, "Incorrect datetime value: '17-09-2003' for column 'DoB' at row 1")
[SQL: INSERT INTO tb_student (id_course, college, id_student, name, `USI`, `DoB`, age, mobile, email, postal_code, address, citizenship, passport, passport_expiry, agency, course_name, coe_start, coe_end, password) VALUES (%(id_course)s, %(college)s, %(id_student)s, %(name)s, %(USI)s, %(DoB)s, %(age)s, %(mobile)s, %(email)s, %(postal_code)s, %(address)s, %(citizenship)s, %(passport)s, %(passport_expiry)s, %(agency)s, %(course_name)s, %(coe_start)s, %(coe_end)s, %(password)s)]
[parameters: [{'id_course': 'ADIT', 'college': 'SYD', 'id_student': 13911989, 'name': 'Stanley Kerr DE GUZMAN', 'USI': '43BYB3CPP6', 'DoB': '17-09-2003', 'age': 21, 'mobile': '0450 903 598', 'email': 'stanleykerrdeguzman04@gmail.com   ', 'postal_code': '71 Kihilla Road', 'address': '71 Kihilla Road', 'citizenship': 'Philippines', 'passport': 'P1902673C ', 'passport_expiry': '10-04-2032', 'agency': 'Carren YABUT (CPY Global Services Pty Ltd)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'ADIT', 'college': 'SYD', 'id_student': 13930611, 'name': 'Mark Gabriel Castanares FABIA', 'USI': 'T38JTH9M67', 'DoB': '11-02-1999', 'age': 26, 'mobile': '0433 517 977', 'email': 'gfabia88@gmail.com   ', 'postal_code': '7', 'address': '7', 'citizenship': 'Philippines', 'passport': 'P0422078C ', 'passport_expiry': '06-06-2032', 'agency': 'Carren YABUT (CPY Global Services Pty Ltd)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'ADIT', 'college': 'SYD', 'id_student': 13933853, 'name': 'Nimish Nihaal PRASAD', 'USI': 'NR2QCRJ39H', 'DoB': '13-08-2002', 'age': 22, 'mobile': '0408574980', 'email': 'nimishnprasad@gmail.com   ', 'postal_code': '4 Drake Place', 'address': '4 Drake Place', 'citizenship': 'Fiji', 'passport': 'P00142049 ', 'passport_expiry': '04-12-2033', 'agency': 'Nitish Kumar GUPTA (Vibrant Education & Migration Services (Sydney))', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'ADIT', 'college': 'SYD', 'id_student': 13987156, 'name': 'Telmen BAYARBAATAR', 'USI': 'ZBPTCGZ7TV', 'DoB': '07-02-2003', 'age': 22, 'mobile': '0402 306 247', 'email': 'telmenbayrbaatar39@gmail.com   ', 'postal_code': '312', 'address': '312', 'citizenship': 'Mongolia', 'passport': 'E2924700 ', 'passport_expiry': None, 'agency': 'Kevin WHITE (First One Education Migration Pty Ltd)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'ADIT', 'college': 'SYD', 'id_student': 14272345, 'name': 'Jake Raymund Layson ARINGAY', 'USI': 'X86BZZAHMC', 'DoB': '27-01-1992', 'age': 33, 'mobile': '0421975828', 'email': 'jakeraymund.aringay@gmail.com   ', 'postal_code': '66 CAMPBELLFIELD AVENUE', 'address': '66 CAMPBELLFIELD AVENUE', 'citizenship': 'Philippines', 'passport': 'P5847185A ', 'passport_expiry': None, 'agency': 'Edmund GALVEZ (Ausryan Migration and Visa Professional Solution (AMVPS AUSTRALIA))', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'ADIT', 'college': 'SYD', 'id_student': 14056614, 'name': 'Ayush Anushil CHAND', 'USI': 'GLHWXLETGY', 'DoB': '20-10-2003', 'age': 21, 'mobile': '0452316003', 'email': 'ayushchandac2121@gmail.com   ', 'postal_code': '20 Peel Street', 'address': '20 Peel Street', 'citizenship': 'Fiji', 'passport': 'P00097670 ', 'passport_expiry': None, 'agency': 'Bhumeshor SUBEDI (KTM Consulting Group Pty Ltd)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'ADIT', 'college': 'SYD', 'id_student': 14091967, 'name': 'Shivdhan Sagar CHAND', 'USI': 'TU23TL5HKP', 'DoB': '01-08-2005', 'age': 19, 'mobile': '0423008250', 'email': 'shivdhanchand@gmail.com   ', 'postal_code': '7 Nagle Street', 'address': '7 Nagle Street', 'citizenship': 'Fiji', 'passport': 'P00176057 ', 'passport_expiry': None, 'agency': 'Bhumeshor SUBEDI (KTM Consulting Group Pty Ltd)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'ADIT', 'college': 'SYD', 'id_student': 14097822, 'name': 'Krishan Kaushik DEO', 'USI': 'UC6PUQRYQZ', 'DoB': '31-05-2005', 'age': 19, 'mobile': '0449015006', 'email': 'kkdeo2005@gmail.com   ', 'postal_code': '6 geoge st', 'address': '6 geoge st', 'citizenship': 'Fiji', 'passport': '1059829 ', 'passport_expiry': None, 'agency': 'Bhumeshor SUBEDI (KTM Consulting Group Pty Ltd)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}  ... displaying 10 of 327 total bound parameter sets ...  {'id_course': 'DIP_LH', 'college': 'SYD', 'id_student': 14089779, 'name': 'Pritha NATHAN', 'USI': 'DPCHV4DDFY', 'DoB': '06-01-2000', 'age': 25, 'mobile': '0447474458', 'email': 'prithanathanally@gmail.com   ', 'postal_code': '4', 'address': '4', 'citizenship': 'Malaysia', 'passport': None, 'passport_expiry': None, 'agency': 'Sheshni PAL (Zenith Global Visa Services)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}, {'id_course': 'DIP_LH', 'college': 'SYD', 'id_student': 14112802, 'name': 'Furui Xu', 'USI': 'X8QU6ZAVCL', 'DoB': '06-06-1999', 'age': 25, 'mobile': '0452462863', 'email': '2635027126@qq.com   ', 'postal_code': '63 VANGHAN ST', 'address': '63 VANGHAN ST', 'citizenship': 'China (excludes SARs and Taiwan)', 'passport': 'EA1436716 ', 'passport_expiry': None, 'agency': 'Cindy LIU (AOHUA International Group Pty Ltd T/A AOHUA International Group Migration and Education Centre)', 'course_name': None, 'coe_start': None, 'coe_end': None, 'password': None}]]
(Background on this error at: https://sqlalche.me/e/20/e3q8)